<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Resource Monitor</title>
</head>
<body>
    <div class="container">
        <h1>Resource Monitor</h1>
        <div id="resource-info">
        </div>
        <button onclick="updateInformation()">Update</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

